@import url("https://fonts.googleapis.com/css2?family=Forum&family=Manrope:wght@200..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1230px;
  padding: 0 30px;
  margin: 0 auto;
}

.hide {
  display: none;
}

.show {
  display: block;
}

a {
  text-decoration: none;
}

.main-section {
  background-color: #FDE2F3;
  padding: 80px 0;
}
.main-section .wrapper {
  position: relative;
}
.main-section .wrapper .header {
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  margin-bottom: 170px;
}
.main-section .wrapper .header__logo {
  display: flex;
  width: 123px;
}
.main-section .wrapper .header__logo img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-section .wrapper .header__nav--link {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  color: #2A2F4F;
  font-size: 16px;
  margin-right: 35px;
}
.main-section .wrapper .header__nav--link:last-child {
  margin-right: 0;
}
.main-section .wrapper .main__block {
  text-align: center;
}
.main-section .wrapper .main__block .first__ballerina {
  display: flex;
  width: 300px;
  position: absolute;
  right: 170px;
  top: 50px;
}
.main-section .wrapper .main__block .first__ballerina img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-section .wrapper .main__block .second__ballerina {
  display: flex;
  width: 190px;
  position: absolute;
  left: 240px;
  top: 140px;
}
.main-section .wrapper .main__block .second__ballerina img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-section .wrapper .main__block--title {
  font-family: "Forum", serif;
  font-size: 200px;
  letter-spacing: 0.25em;
  color: #2A2F4F;
  position: relative;
  margin-bottom: 26px;
}
.main-section .wrapper .main__block--subtitle {
  font-family: "Manrope", sans-serif;
  font-size: 48px;
  color: #917FB3;
  letter-spacing: 0.1em;
  position: relative;
  margin-bottom: 60px;
}
.main-section .wrapper .main__block .contacts {
  display: flex;
  position: relative;
  padding: 0 40px;
  justify-content: space-between;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.main-section .wrapper .main__block .contacts__scroll {
  display: flex;
  width: 40px;
}
.main-section .wrapper .main__block .contacts__scroll img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.main-section .wrapper .main__block .contacts__wrapper .address, .main-section .wrapper .main__block .contacts__wrapper .phone {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  align-items: center;
  justify-content: flex-end;
}
.main-section .wrapper .main__block .contacts__wrapper .address__img, .main-section .wrapper .main__block .contacts__wrapper .phone__img {
  display: flex;
  width: 25px;
}
.main-section .wrapper .main__block .contacts__wrapper .address__img img, .main-section .wrapper .main__block .contacts__wrapper .phone__img img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.main-section .wrapper .main__block .contacts__wrapper .address__span, .main-section .wrapper .main__block .contacts__wrapper .phone__span {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  color: #2A2F4F;
}
.main-section .wrapper .main__block .contacts__wrapper .address {
  margin-bottom: 20px;
}

.abous-us-section {
  background-color: #2A2F4F;
  padding: 80px 0;
}
.abous-us-section .about-us__title {
  font-family: "Forum", serif;
  color: #FDE2F3;
  font-size: 32px;
  margin-bottom: 50px;
  text-align: center;
}
.abous-us-section .about-us__wrapper .about-us__block {
  display: flex;
  -moz-column-gap: 46px;
       column-gap: 46px;
  margin-bottom: 50px;
  align-items: center;
  justify-content: space-evenly;
}
.abous-us-section .about-us__wrapper .about-us__block:nth-child(2) {
  flex-direction: row-reverse;
  margin-bottom: 0;
}
.abous-us-section .about-us__wrapper .about-us__block--img {
  display: flex;
  width: 470px;
  border-radius: 50px;
  overflow: hidden;
}
.abous-us-section .about-us__wrapper .about-us__block--img img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.abous-us-section .about-us__wrapper .about-us__block--info {
  max-width: 454px;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  color: #FDE2F3;
}

.styles-section {
  background-color: #2A2F4F;
  padding: 80px 0;
}
.styles-section .styles__title {
  font-family: "Forum", serif;
  font-size: 32px;
  color: #FDE2F3;
  text-align: center;
  margin-bottom: 50px;
}
.styles-section .styles__wrapper .buttons {
  display: flex;
  justify-content: center;
  -moz-column-gap: 48px;
       column-gap: 48px;
  margin-bottom: 50px;
}
.styles-section .styles__wrapper .buttons__button {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  color: #FDE2F3;
  border: 1px solid #FDE2F3;
  padding: 10px 30px;
  border-radius: 30px;
  background: transparent;
  font-weight: 500;
  transition: all 0.5s ease;
}
.styles-section .styles__wrapper .buttons__button:hover {
  cursor: pointer;
  background: #FDE2F3;
  color: #2A2F4F;
}
.styles-section .styles__wrapper .buttons .active {
  color: #2A2F4F;
  background-color: #FDE2F3;
}
.styles-section .styles__wrapper .content__block {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  -moz-column-gap: 50px;
       column-gap: 50px;
  align-items: center;
}
.styles-section .styles__wrapper .content__block .descr {
  max-width: 366px;
  text-align: center;
}
.styles-section .styles__wrapper .content__block .descr__text {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  color: #FDE2F3;
  text-align: left;
  margin-bottom: 30px;
}
.styles-section .styles__wrapper .content__block .descr__text--highlighted {
  font-weight: 700;
}
.styles-section .styles__wrapper .content__block .descr__btn {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 20px;
  border: 1px solid #FDE2F3;
  background: transparent;
  border-radius: 30px;
  color: #FDE2F3;
  transition: all 0.5s ease;
}
.styles-section .styles__wrapper .content__block .descr__btn:hover {
  cursor: pointer;
  background: #FDE2F3;
  color: #2A2F4F;
}
.styles-section .styles__wrapper .content__block--img {
  display: flex;
  max-width: 340px;
  max-height: 340px;
  border-radius: 50px;
  overflow: hidden;
}
.styles-section .styles__wrapper .content__block--img img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.styles-section .styles__wrapper .content .hide {
  display: none;
}

.teachers-section {
  background-color: #2A2F4F;
  padding: 80px 0;
}
.teachers-section .teachers__title {
  font-family: "Forum", serif;
  font-size: 32px;
  color: #FDE2F3;
  margin-bottom: 50px;
  text-align: center;
}
.teachers-section .teachers__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.teachers-section .teachers__wrapper--prev, .teachers-section .teachers__wrapper--next {
  display: flex;
  width: 90px;
}
.teachers-section .teachers__wrapper--prev:hover, .teachers-section .teachers__wrapper--next:hover {
  cursor: pointer;
}
.teachers-section .teachers__wrapper--prev img, .teachers-section .teachers__wrapper--next img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.teachers-section .teachers__wrapper .content {
  background-color: #FDE2F3;
  max-width: 770px;
  border-radius: 40px;
  padding: 20px 30px;
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
  align-items: center;
}
.teachers-section .teachers__wrapper .content__img {
  display: flex;
  width: 330px;
  height: 330px;
  border-radius: 50px;
  overflow: hidden;
}
.teachers-section .teachers__wrapper .content__img img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.teachers-section .teachers__wrapper .content__info {
  max-width: 300px;
}
.teachers-section .teachers__wrapper .content__info .text {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #2A2F4F;
  margin-bottom: 20px;
}
.teachers-section .teachers__wrapper .content__info .text__highlighted {
  font-weight: 600;
}
.teachers-section .teachers__wrapper .hide {
  display: none;
}

.schedule-section {
  padding: 80px 0;
  background-color: #FDE2F3;
}
.schedule-section .schedule__title {
  font-family: "Forum", serif;
  font-size: 32px;
  color: #2A2F4F;
  margin-bottom: 50px;
  text-align: center;
}
.schedule-section .schedule__table {
  display: flex;
  justify-content: center;
  border-collapse: collapse;
}
.schedule-section .schedule__table tr td {
  border: 1px solid #2A2F4F;
  font-family: "Manrope", sans-serif;
  color: #2A2F4F;
  padding: 20px 28px;
  text-align: center;
  line-height: 22px;
}

.prices-section {
  background-color: #FDE2F3;
  padding: 80px 0;
}
.prices-section .prices__title {
  font-family: "Forum", serif;
  font-size: 32px;
  color: #2A2F4F;
  margin-bottom: 50px;
  text-align: center;
}
.prices-section .prices__subtitle {
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  color: #2A2F4F;
  margin-bottom: 30px;
}
.prices-section .prices__blocks {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 30px;
       column-gap: 30px;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 50px;
}
.prices-section .prices__blocks:last-child {
  margin-bottom: 0;
}
.prices-section .prices__blocks .groups {
  background-color: #E5BEEC;
  padding: 30px 68px;
  border-radius: 20px;
}
.prices-section .prices__blocks .groups__text {
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  color: #2A2F4F;
  margin: 0 0 20px 0;
}
.prices-section .prices__blocks .groups__text:first-child {
  border-bottom: 1px solid #917FB3;
  padding-bottom: 20px;
}
.prices-section .prices__blocks .groups__block--text:first-child {
  margin-bottom: 10px;
  border-bottom: none;
  padding-bottom: 0;
}
.prices-section .prices__blocks .groups__btn {
  padding: 6px 30px;
  background-color: transparent;
  border: 1px solid #917FB3;
  border-radius: 30px;
  color: #2A2F4F;
  font-family: "Manrope", sans-serif;
  font-size: 24px;
  transition: all 0.5s ease;
}
.prices-section .prices__blocks .groups__btn:hover {
  cursor: pointer;
  background-color: #2A2F4F;
  color: #E5BEEC;
}
.prices-section .prices__blocks .individual {
  background-color: #E5BEEC;
  padding: 30px 68px;
  border-radius: 20px;
}
.prices-section .prices__blocks .individual__text {
  font-family: "Manrope", sans-serif;
  color: #2A2F4F;
  font-size: 20px;
  margin-bottom: 20px;
}
.prices-section .prices__blocks .individual__text:first-child {
  padding-bottom: 10px;
  border-bottom: 1px solid #917FB3;
  margin-bottom: 10px;
}
.prices-section .prices__blocks .individual__btn {
  padding: 6px 30px;
  background-color: transparent;
  border: 1px solid #917FB3;
  border-radius: 30px;
  color: #2A2F4F;
  font-family: "Manrope", sans-serif;
  font-size: 24px;
  transition: all 0.5s ease;
}
.prices-section .prices__blocks .individual__btn:hover {
  cursor: pointer;
  background-color: #2A2F4F;
  color: #E5BEEC;
}

.qa-section {
  background-color: #FDE2F3;
  padding: 80px 0;
}
.qa-section .qa__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.qa-section .qa__block .pictures__picture {
  display: flex;
  height: 415px;
  width: 300px;
  border-radius: 50px;
  overflow: hidden;
}
.qa-section .qa__block .pictures__picture img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.qa-section .qa__block .pictures .layout {
  margin-top: -130px;
  margin-left: 150px;
}
.qa-section .qa__block .info {
  margin-left: 48px;
}
.qa-section .qa__block .info__title {
  font-family: "Forum", serif;
  font-size: 32px;
  color: #2A2F4F;
  text-align: center;
  margin-bottom: 50px;
}
.qa-section .qa__block .info__block {
  background-color: #2A2F4F;
  padding: 40px 20px;
  border-radius: 50px;
  max-width: 459px;
}
.qa-section .qa__block .info__block .content {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  border: 1px solid #FDE2F3;
  border-radius: 50px;
  padding: 20px;
  margin-bottom: 30px;
}
.qa-section .qa__block .info__block .content:last-child {
  margin-bottom: 0;
}
.qa-section .qa__block .info__block .content__question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.qa-section .qa__block .info__block .content__question:hover {
  cursor: pointer;
}
.qa-section .qa__block .info__block .content__question--text {
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  color: #FDE2F3;
  max-width: 230px;
}
.qa-section .qa__block .info__block .content__question--arrow {
  display: flex;
  width: 30px;
}
.qa-section .qa__block .info__block .content__question--arrow img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.qa-section .qa__block .info__block .content__answer {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  color: #FDE2F3;
  max-width: 230px;
}

.form-section {
  background-color: #2A2F4F;
  padding: 80px 0;
}
.form-section .form__block {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  justify-content: space-between;
  align-items: center;
}
.form-section .form__block .info__title {
  font-family: "Forum", serif;
  font-size: 32px;
  color: #FDE2F3;
  margin-bottom: 50px;
}
.form-section .form__block .info__form--wrapper .info__input {
  border: none;
  border-bottom: 1px solid #FDE2F3;
  background-color: transparent;
  padding-left: 10px;
  margin-bottom: 50px;
  width: 100%;
  outline: none;
  color: #FDE2F3;
  font-size: 16px;
}
.form-section .form__block .info__form--wrapper .info__input::-moz-placeholder {
  font-family: "Manrope", sans-serif;
  color: #FDE2F3;
  font-size: 16px;
}
.form-section .form__block .info__form--wrapper .info__input::placeholder {
  font-family: "Manrope", sans-serif;
  color: #FDE2F3;
  font-size: 16px;
}
.form-section .form__block .info__form--wrapper .info__input:focus::-moz-placeholder {
  color: transparent;
}
.form-section .form__block .info__form--wrapper .info__input:focus::placeholder {
  color: transparent;
}
.form-section .form__block .info__btn {
  padding: 20px 221px;
  background-color: transparent;
  border: 1px solid #FDE2F3;
  border-radius: 50px;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  color: #FDE2F3;
  transition: all 0.5s ease;
}
.form-section .form__block .info__btn:hover {
  background-color: #FDE2F3;
  color: #2A2F4F;
  cursor: pointer;
}
.form-section .form__block--img {
  display: flex;
  height: 536px;
  width: 536px;
  overflow: hidden;
  border-radius: 50px;
}
.form-section .form__block--img img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contacts-section {
  background-color: #FDE2F3;
  padding: 80px 0;
}
.contacts-section .contacts__block {
  display: flex;
  padding: 0 65px;
  justify-content: space-between;
  align-items: center;
}
.contacts-section .contacts__block .info__title {
  font-family: "Forum", serif;
  font-size: 32px;
  color: #2A2F4F;
  margin-bottom: 50px;
}
.contacts-section .contacts__block .info__wrapper .element {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  -moz-column-gap: 17px;
       column-gap: 17px;
}
.contacts-section .contacts__block .info__wrapper .element:last-child {
  margin-bottom: 0;
}
.contacts-section .contacts__block .info__wrapper .element__icon {
  display: flex;
  width: 33px;
}
.contacts-section .contacts__block .info__wrapper .element__icon img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.contacts-section .contacts__block .info__wrapper .element__text {
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  color: #2A2F4F;
}
.contacts-section .contacts__block--img {
  display: flex;
  width: 307px;
}
.contacts-section .contacts__block--img img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer-section {
  background-color: #FDE2F3;
  padding: 80px 0;
}
.footer-section .footer__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-section .footer__block--logo {
  display: flex;
  width: 123px;
}
.footer-section .footer__block--logo img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.footer-section .footer__block .links__link {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #2A2F4F;
  margin-right: 48px;
}
.footer-section .footer__block .links__link:last-child {
  margin-right: 0;
}
.footer-section .footer__block .social-media {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.footer-section .footer__block .social-media__link {
  display: flex;
  width: 30px;
}
.footer-section .footer__block .social-media__link img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media all and (max-width: 1024px) {
  .container {
    max-width: 964px;
  }
  .main-section .wrapper .header__nav--link {
    margin-right: 20px;
  }
  .main-section .wrapper .main__block .first__ballerina {
    right: 30px;
  }
  .main-section .wrapper .main__block .second__ballerina {
    left: 100px;
    top: 120px;
  }
  .main-section .wrapper .main__block--title {
    font-size: 190px;
  }
  .styles-section .styles__wrapper .buttons {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
  .styles-section .styles__wrapper .buttons__button {
    padding: 10px 18px;
  }
  .schedule-section .schedule__table tr td {
    padding: 20px 4px;
  }
  .prices-section .prices__blocks .groups {
    padding: 20px 40px;
  }
  .prices-section .prices__blocks .individual {
    padding: 20px 40px;
  }
  .qa-section .qa__block .pictures__picture {
    height: 315px;
    width: 200px;
  }
  .qa-section .qa__block .pictures .layout {
    margin-left: 100px;
  }
  .form-section .form__block {
    display: flex;
    -moz-column-gap: 20px;
         column-gap: 20px;
    justify-content: space-between;
    align-items: center;
  }
  .form-section .form__block .info__btn {
    padding: 20px 150px;
  }
  .form-section .form__block--img {
    height: 450px;
    width: 450px;
  }
  .footer-section .footer__block .links__link {
    margin-right: 14px;
  }
}
@media all and (max-width: 768px) {
  .container {
    max-width: none;
  }
  .main-section {
    padding: 60px 0;
  }
  .main-section .wrapper .header {
    margin-bottom: 120px;
  }
  .main-section .wrapper .header__logo {
    width: 100px;
  }
  .main-section .wrapper .header__nav {
    display: none;
  }
  .main-section .wrapper .header .wrapper {
    width: 24px;
    height: 2px;
    background: #2A2F4F;
    border-radius: 50px;
  }
  .main-section .wrapper .header .wrapper::before, .main-section .wrapper .header .wrapper::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 2px;
    background: #2A2F4F;
    border-radius: 50px;
  }
  .main-section .wrapper .header .wrapper::before {
    top: -8px;
  }
  .main-section .wrapper .header .wrapper::after {
    top: 8px;
  }
  .main-section .wrapper .header .wrapper:hover .header__nav {
    display: flex;
    flex-direction: column;
    background-color: #2A2F4F;
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
    padding: 20px;
    border-radius: 10px;
    row-gap: 10px;
  }
  .main-section .wrapper .header .wrapper:hover .header__nav--link {
    color: #FDE2F3;
    border: 1px solid #FDE2F3;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    transition: all 0.2s ease;
  }
  .main-section .wrapper .header .wrapper:hover .header__nav--link:hover {
    background-color: #FDE2F3;
    color: #2A2F4F;
  }
  .main-section .wrapper .main__block .first__ballerina {
    width: 200px;
    right: 50px;
  }
  .main-section .wrapper .main__block .second__ballerina {
    width: 130px;
    left: 100px;
    top: 100px;
  }
  .main-section .wrapper .main__block--title {
    font-size: 130px;
    margin-bottom: 15px;
  }
  .main-section .wrapper .main__block--subtitle {
    font-size: 36px;
    margin-bottom: 40px;
  }
  .main-section .wrapper .main__block .contacts__scroll {
    width: 30px;
  }
  .main-section .wrapper .main__block .contacts__wrapper .address__img, .main-section .wrapper .main__block .contacts__wrapper .phone__img {
    width: 20px;
  }
  .main-section .wrapper .main__block .contacts__wrapper .address {
    margin-bottom: 10px;
  }
  .abous-us-section {
    padding: 60px 0;
  }
  .abous-us-section .about-us__wrapper .about-us__block {
    -moz-column-gap: 40px;
         column-gap: 40px;
  }
  .abous-us-section .about-us__wrapper .about-us__block--info {
    max-width: 230px;
  }
  .styles-section {
    padding: 60px 0;
  }
  .styles-section .styles__wrapper .buttons {
    flex-wrap: wrap;
    row-gap: 10px;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .styles-section .styles__wrapper .content__block {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .styles-section .styles__wrapper .content__block--img {
    max-width: 260px;
    max-height: 260px;
  }
  .teachers-section {
    padding: 60px 0;
  }
  .teachers-section .teachers__wrapper {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .teachers-section .teachers__wrapper .content {
    padding: 10px;
    min-width: 415px;
  }
  .teachers-section .teachers__wrapper .content__img {
    width: 260px;
    height: 260px;
    border-radius: 30px;
  }
  .teachers-section .teachers__wrapper .content__info {
    max-width: 210px;
  }
  .schedule-section {
    padding: 60px 0;
  }
  .schedule-section .schedule__table {
    flex-direction: column;
  }
  .schedule-section .schedule__table table {
    margin-bottom: 20px;
  }
  .schedule-section .schedule__table table tbody tr td {
    font-size: 14px;
  }
  .schedule-section .schedule__table .select__wrapper {
    text-align: center;
  }
  .schedule-section .schedule__table .select__wrapper .schedule-label {
    display: inline-block;
    margin-right: 35px;
    font-size: 14px;
    font-family: "Manrope", sans-serif;
    color: #2A2F4F;
  }
  .schedule-section .schedule__table .select__wrapper--block {
    position: relative;
    display: inline-block;
  }
  .schedule-section .schedule__table .select__wrapper--block #day {
    display: inline-block;
    padding: 4px 10px;
    border: 1px solid #2A2F4F;
    border-radius: 30px;
    background-color: transparent;
    font-family: "Manrope", sans-serif;
    font-size: 14px;
    color: #2A2F4F;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    min-width: 120px;
  }
  .schedule-section .schedule__table .select__wrapper--block #day option {
    background-color: #FDE2F3;
  }
  .schedule-section .schedule__table .select__wrapper--block .arrow {
    position: absolute;
    display: inline-block;
    top: 6px;
    right: 10px;
  }
  .prices-section {
    padding: 60px 0;
  }
  .prices-section .prices__blocks {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .prices-section .prices__blocks .groups {
    padding: 20px;
  }
  .prices-section .prices__blocks .groups__text {
    font-size: 16px;
    margin: 0 0 10px 0;
  }
  .prices-section .prices__blocks .groups__text:first-child {
    padding-bottom: 10px;
  }
  .prices-section .prices__blocks .groups__block--text:first-child {
    padding-bottom: 0;
  }
  .prices-section .prices__blocks .groups__btn {
    padding: 6px 30px;
    font-size: 20px;
  }
  .prices-section .prices__blocks .individual {
    padding: 20px;
  }
  .prices-section .prices__blocks .individual__text {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .prices-section .prices__blocks .individual__btn {
    padding: 6px 30px;
    font-size: 20px;
  }
  .qa-section {
    padding: 60px 0;
  }
  .qa-section .qa__block .pictures__picture {
    height: 300px;
    width: 175px;
  }
  .qa-section .qa__block .pictures .layout {
    margin-left: 80px;
  }
  .qa-section .qa__block .info {
    margin-left: 30px;
  }
  .qa-section .qa__block .info__block {
    padding: 20px 10px;
  }
  .qa-section .qa__block .info__block .content {
    row-gap: 20px;
    padding: 20px 10px;
    margin-bottom: 20px;
  }
  .qa-section .qa__block .info__block .content__question--text {
    font-size: 16px;
  }
  .form-section {
    padding: 60px 0;
  }
  .form-section .form__block {
    flex-direction: column;
  }
  .form-section .form__block .info__title {
    text-align: center;
  }
  .form-section .form__block--img {
    display: none;
  }
  .contacts-section {
    padding: 60px 0;
  }
  .contacts-section .contacts__block {
    padding: 0 30px;
  }
  .contacts-section .contacts__block .info__wrapper .element {
    margin-bottom: 20px;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .contacts-section .contacts__block .info__wrapper .element__text {
    font-size: 16px;
  }
  .contacts-section .contacts__block--img {
    width: 200px;
  }
  .footer-section {
    padding: 60px 0;
  }
  .footer-section .footer__block {
    flex-direction: column;
    row-gap: 20px;
  }
  .footer-section .footer__block--logo {
    width: 100px;
  }
  .footer-section .footer__block .links {
    display: flex;
    -moz-column-gap: 30px;
         column-gap: 30px;
    row-gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-section .footer__block .links__link {
    margin-right: 0;
  }
}
@media all and (max-width: 576px) {
  .container {
    padding: 0 16px;
  }
  .main-section {
    padding: 40px 0;
  }
  .main-section .wrapper .header {
    padding: 0;
    margin-bottom: 57px;
  }
  .main-section .wrapper .header__logo {
    width: 70px;
  }
  .main-section .wrapper .main__block .first__ballerina {
    width: 86px;
    right: 45px;
    top: 35px;
  }
  .main-section .wrapper .main__block .second__ballerina {
    width: 55px;
    left: 60px;
    top: 65px;
  }
  .main-section .wrapper .main__block--title {
    font-size: 64px;
    margin-bottom: 5px;
  }
  .main-section .wrapper .main__block--subtitle {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .main-section .wrapper .main__block .contacts {
    padding: 0;
  }
  .main-section .wrapper .main__block .contacts__scroll {
    width: 20px;
  }
  .main-section .wrapper .main__block .contacts__wrapper .address__img, .main-section .wrapper .main__block .contacts__wrapper .phone__img {
    width: 14px;
  }
  .main-section .wrapper .main__block .contacts__wrapper .address__span, .main-section .wrapper .main__block .contacts__wrapper .phone__span {
    font-size: 12px;
  }
  .main-section .wrapper .main__block .contacts__wrapper .address {
    margin-bottom: 5px;
  }
  .abous-us-section {
    padding: 40px 0;
  }
  .abous-us-section .about-us__title {
    font-size: 24px;
    margin-bottom: 30px;
  }
  .abous-us-section .about-us__wrapper .about-us__block {
    -moz-column-gap: 0;
         column-gap: 0;
    flex-direction: column;
    row-gap: 20px;
    margin-bottom: 30px;
  }
  .abous-us-section .about-us__wrapper .about-us__block:nth-child(2) {
    flex-direction: column;
  }
  .abous-us-section .about-us__wrapper .about-us__block--img {
    width: 314px;
  }
  .abous-us-section .about-us__wrapper .about-us__block--info {
    max-width: 343px;
    font-size: 14px;
  }
  .styles-section {
    padding: 40px 0;
  }
  .styles-section .styles__title {
    font-size: 24px;
    margin-bottom: 30px;
  }
  .styles-section .styles__wrapper .buttons__button {
    padding: 10px;
    font-size: 15px;
  }
  .styles-section .styles__wrapper .content__block {
    flex-direction: column;
  }
  .styles-section .styles__wrapper .content__block--img {
    order: 0;
    max-width: 300px;
    max-height: 300px;
    margin-bottom: 20px;
  }
  .styles-section .styles__wrapper .content__block .descr {
    order: 1;
  }
  .styles-section .styles__wrapper .content__block .descr__text {
    margin-bottom: 20px;
    font-size: 15px;
  }
  .styles-section .styles__wrapper .content__block .descr__btn {
    padding: 10px;
  }
  .teachers-section {
    padding: 40px 0;
  }
  .teachers-section .teachers__title {
    font-size: 24px;
    margin-bottom: 30px;
  }
  .teachers-section .teachers__wrapper {
    -moz-column-gap: 6px;
         column-gap: 6px;
  }
  .teachers-section .teachers__wrapper .content {
    padding: 20px;
    flex-direction: column;
    min-height: 402px;
    min-width: 0;
  }
  .teachers-section .teachers__wrapper .content__img {
    width: 138px;
    height: 138px;
    margin-bottom: 20px;
  }
  .teachers-section .teachers__wrapper .content__info {
    max-width: 201px;
  }
  .teachers-section .teachers__wrapper .content__info .text {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .teachers-section .teachers__wrapper .content__info .text:first-child {
    font-size: 20px;
  }
  .schedule-section {
    padding: 40px 0;
  }
  .schedule-section .schedule__title {
    font-size: 24px;
    margin-bottom: 30px;
  }
  .schedule-section .schedule__table table tbody tr td {
    padding: 10px 22px;
  }
  .prices-section {
    padding: 40px 0;
  }
  .prices-section .prices__title {
    font-size: 24px;
    margin-bottom: 30px;
  }
  .prices-section .prices__subtitle {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .prices-section .prices__blocks {
    -moz-column-gap: 0;
         column-gap: 0;
    flex-direction: column;
    row-gap: 20px;
  }
  .prices-section .prices__blocks .groups {
    min-width: 270px;
    align-self: center;
  }
  .prices-section .prices__blocks .groups__btn {
    padding: 6px 20px;
    font-size: 16px;
  }
  .prices-section .prices__blocks .individual {
    min-width: 270px;
    align-self: center;
  }
  .prices-section .prices__blocks .individual__btn {
    padding: 6px 20px;
    font-size: 16px;
  }
  .qa-section {
    padding: 40px 0;
  }
  .qa-section .qa__block {
    justify-content: center;
  }
  .qa-section .qa__block .pictures {
    display: none;
  }
  .qa-section .qa__block .info {
    margin-left: 0;
  }
  .qa-section .qa__block .info__title {
    font-size: 24px;
    margin-bottom: 30px;
  }
  .qa-section .qa__block .info__block .content__answer {
    font-size: 14px;
  }
  .form-section {
    padding: 40px 0;
  }
  .form-section .form__block .info__title {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .form-section .form__block .info__form--input {
    margin-bottom: 20px;
  }
  .form-section .form__block .info__form--input:last-child {
    margin-bottom: 30px;
  }
  .form-section .form__block .info__btn {
    font-size: 16px;
    padding: 10px 50px;
  }
  .contacts-section {
    padding: 40px 0;
  }
  .contacts-section .contacts__block {
    padding: 0;
  }
  .contacts-section .contacts__block .info__title {
    font-size: 24px;
    margin-bottom: 30px;
    text-align: center;
  }
  .contacts-section .contacts__block .info__wrapper .element__icon {
    width: 22px;
  }
  .contacts-section .contacts__block .info__wrapper .element__text {
    font-size: 14px;
  }
  .contacts-section .contacts__block--img {
    display: none;
  }
  .footer-section {
    padding: 40px 0;
  }
  .footer-section .footer__block--logo {
    width: 70px;
  }
  .footer-section .footer__block .links__link {
    font-size: 14px;
  }
}/*# sourceMappingURL=style.css.map */